
.active-link {
  color: red; /* Change this to your desired color */

}
.apexcharts-toolbar{
display: none !important;
}
.gradient{
  background: linear-gradient(91deg, #F5F5F7 -3.34%, #F4F6EC 45.47%, #F4F6EA 100%);
}
input{
  outline: none;
  caret-color: #589130;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; 
    width: auto;
}
input[type="date"] {
  text-indent: -99em;
  background-color: transparent;
}

