
.active-link {
  color: red; /* Change this to your desired color */

}
.apexcharts-toolbar{
display: none !important;
}
.gradient{
  background: linear-gradient(91deg, #F5F5F7 -3.34%, #F4F6EC 45.47%, #F4F6EA 100%);
}
